<h1>Eat-Da-Burger!</h1>

<h2>Enter in the burgers that you want...</h2>

{{!-- if the burger has been eaten then it will register as true. This is where the information initially goes after the submit button has been clicked. --}}
<ul>
  {{#each burgers}}
  <p>{{burger_name}}</p>
     {{#unless sleepy}}
      {{> burger/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
  
</ul>

{{!-- if the burger has not been eaten then it will register as false. After the user chooses to 'eat' the burger it is then transfered over to the other side of the web page using the logic below --}}
<ul>
  {{#each burgers}}
   {{#unless sleepy}}
      {{> burger/burger-block devoured=false}}
    {{/unless}}
  {{/each}} 
</ul>

<h2>Add burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="">Name of burger:</label>
    <input type="text" id="" name="name">
  </div>

  <button type="submit">Add burger</button>
</form>

