<h1>Eat-Da-Burger!</h1>

<h2>Enter in the burgers that you want...</h2>

{{!-- if the burger has been eaten then it will register as true --}}
<ul>
  {{#each}}
    {{#unless}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

{{!-- if the burger has not been eaten then it will register as false --}}
<ul>
  {{#each}}
    {{#unless}}
      {{> burgers/burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Add burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="">Name of burger:</label>
    <input type="text" id="" name="name">
  </div>

  <button type="submit">Add Cat</button>
</form>

